# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
/fidelius-service/logs/
/fidelius-service/fidelius-service.iml/
/fidelius-sdk/fidelius-sdk.iml/
/fidelius-sdk/fidelius-sdk.iml/
/fidelius-service/target/
/fidelius-ui/dist/
/demo-services/fake-account-service/target/
/demo-services/fake-account-service/fidelius-service.iml/
/demo-services/fake-account-service/.idea/
/demo-services/fidelius-setup/target/
/demo-services/fidelius-setup/fidelius-service.iml/
/demo-services/fidelius-setup/.idea/
fidelius-ui/package-lock.json
fidelius-ui/src/mock-api/config.json
fidelius-ui/proxy.conf.json
fidelius-ui/src/mock-api/config.json
